@page "/games"
@using BlazorCrudDotNet8.Client.Shared
@inject IGameService GameService
@attribute [StreamRendering(true)]

<PageTitle>Game List</PageTitle>
<h1>Games List</h1>
<hr />
<div class="container">
    <div class="card">
        <div class="card-header text-end">
           <CreateGameButton></CreateGameButton>
        </div>
        <div class="card-body">
            @if (games is null)
            {
                <span>Loading.....</span>
            }
            else if (games.Count == 0)
            {
                <span>Sorry!. NO games found.</span>
            }
            else
            {
                <table class="table table-striped table-dark table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var game in games)
                    {
                        <tr>
                            <td>@game.Id</td>
                            <td>@game.Name</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            }
        </div>

    </div>
</div>






@code
{
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        

        games = await GameService.GetAllGames();
    }


    
}
